Pipelines/Bronze/03_pl_api_task.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[bronze].[GetApiTaskInfo]",
            "storedProcedureParameters": {
              "TaskKey": {
                "value": {
                  "value": "@pipeline().parameters.TaskKey",
                  "type": "Expression"
                },
                "type": "Int64"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "1097ebd2_b3db_4e02_83b4_e9c4dbea878e",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id",
                  "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get API Task Info",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Get API Task Info').output.firstRow.IsWatermarkEnabledFlag, true)",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": {
                  "value": "@activity('Get API Task Info').output.firstRow.APINotebookId",
                  "type": "Expression"
                },
                "workspaceId": {
                  "value": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id",
                  "type": "Expression"
                },
                "parameters": {
                  "TaskKey": {
                    "value": {
                      "value": "@pipeline().parameters.TaskKey",
                      "type": "Expression"
                    },
                    "type": "int"
                  },
                  "TaskType": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.TaskType",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "ParentSourceName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.ParentSourceName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "SourceName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.SourceName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "ApiTaskName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.ApiTaskName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "PrimaryKeyColumnList": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.PrimaryKeyColumnList",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "IsWatermarkEnabledFlag": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.IsWatermarkEnabledFlag",
                      "type": "Expression"
                    },
                    "type": "bool"
                  },
                  "RawStoragePath": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.RawStoragePath",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "RawStorageFileName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.RawStorageFileName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "BronzeWorkspaceName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.BronzeWorkspaceName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "BronzeWorkspaceId": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.BronzeWorkspaceId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "BronzeLakehouseName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.BronzeLakehouseName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "BronzeLakehouseId": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.BronzeLakehouseId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "BronzeSchemaName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.BronzeSchemaName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "BronzeTableName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.BronzeTableName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "BronzeLoadMethod": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.BronzeLoadMethod",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "etlLoadDateTime": {
                    "value": {
                      "value": "@pipeline().parameters.etlLoadDateTime",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "SourceAPIURL": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.SourceAPIURL",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "JsonArrayName": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.JsonArrayName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "SortByColumnList": {
                    "value": {
                      "value": "@activity('Get API Task Info').output.firstRow.SortByColumnList",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                },
                "sessionTag": {
                  "value": "@activity('Get API Task Info').output.firstRow.SourceName",
                  "type": "Expression"
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Run API Notebook",
              "dependsOn": []
            }
          ]
        },
        "name": "If Watermark Enabled",
        "dependsOn": [
          {
            "activity": "Get API Task Info",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "e96d1daf-f654-80f5-430a-4c2da1d4458d",
            "type": "PipelineReference"
          },
          "parameters": {
            "etlLoadDateTime": {
              "value": "@pipeline().parameters.etlLoadDateTime",
              "type": "Expression"
            },
            "BronzeWorkspaceName": {
              "value": "@activity('Get API Task Info').output.firstRow.BronzeWorkspaceName",
              "type": "Expression"
            },
            "BronzeLakehouseName": {
              "value": "@activity('Get API Task Info').output.firstRow.BronzeLakehouseName",
              "type": "Expression"
            },
            "RawStoragePath": {
              "value": "@activity('Get API Task Info').output.firstRow.RawStoragePath",
              "type": "Expression"
            },
            "RawStorageFileName": {
              "value": "@activity('Get API Task Info').output.firstRow.RawStorageFileName",
              "type": "Expression"
            },
            "BronzeSchemaName": {
              "value": "@activity('Get API Task Info').output.firstRow.BronzeSchemaName",
              "type": "Expression"
            },
            "BronzeTableName": {
              "value": "@activity('Get API Task Info').output.firstRow.BronzeTableName",
              "type": "Expression"
            },
            "BronzeLoadMethod": {
              "value": "@activity('Get API Task Info').output.firstRow.BronzeLoadMethod",
              "type": "Expression"
            },
            "PrimaryKeyColumnList": {
              "value": "@activity('Get API Task Info').output.firstRow.PrimaryKeyColumnList",
              "type": "Expression"
            },
            "SourceName": {
              "value": "@activity('Get API Task Info').output.firstRow.SourceName",
              "type": "Expression"
            },
            "BronzeWorkspaceId": {
              "value": "@activity('Get API Task Info').output.firstRow.BronzeWorkspaceId",
              "type": "Expression"
            },
            "BronzeLakehouseId": {
              "value": "@activity('Get API Task Info').output.firstRow.BronzeLakehouseId",
              "type": "Expression"
            },
            "IsWatermarkEnabledFlag": {
              "value": "@activity('Get API Task Info').output.firstRow.IsWatermarkEnabledFlag",
              "type": "Expression"
            },
            "SinkWatermarkColumn": {
              "value": "@activity('Get API Task Info').output.firstRow.SinkWatermarkColumn",
              "type": "Expression"
            },
            "SourceType": {
              "value": "@activity('Get API Task Info').output.firstRow.SourceType",
              "type": "Expression"
            },
            "TaskName": {
              "value": "@activity('Get API Task Info').output.firstRow.ApiTaskName",
              "type": "Expression"
            },
            "TaskKey": {
              "value": "@pipeline().parameters.TaskKey",
              "type": "Expression"
            },
            "JsonArrayName": {
              "value": "@activity('Get API Task Info').output.firstRow.JsonArrayName",
              "type": "Expression"
            },
            "SortByColumnList": {
              "value": "@activity('Get API Task Info').output.firstRow.SortByColumnList",
              "type": "Expression"
            },
            "JobAuditKey": {
              "value": "@pipeline().parameters.JobAuditKey",
              "type": "Expression"
            },
            "TaskAuditKey": {
              "value": "@pipeline().parameters.TaskAuditKey",
              "type": "Expression"
            },
            "LoadRawToBronzeMethod": {
              "value": "@activity('Get API Task Info').output.firstRow.LoadRawToBronzeMethod",
              "type": "Expression"
            },
            "LoadRawToBronzeNotebookName": {
              "value": "@activity('Get API Task Info').output.firstRow.LoadRawToBronzeNotebookName",
              "type": "Expression"
            },
            "LoadRawToBronzeNotebookId": {
              "value": "@activity('Get API Task Info').output.firstRow.LoadRawToBronzeNotebookId",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "pl_load_raw_to_bronze",
        "dependsOn": [
          {
            "activity": "If Watermark Enabled",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[bronze].[TaskAuditExecutionUpdate]",
          "storedProcedureParameters": {
            "TaskAuditKey": {
              "value": {
                "value": "@pipeline().parameters.TaskAuditKey",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsRead": {
              "value": {
                "value": "@activity('pl_load_raw_to_bronze').output.pipelineReturnValue.RowsRead",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsCopied": {
              "value": {
                "value": "@activity('pl_load_raw_to_bronze').output.pipelineReturnValue.RowsCopied",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsSkipped": {
              "value": {
                "value": "@activity('pl_load_raw_to_bronze').output.pipelineReturnValue.RowsSkipped",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsInserted": {
              "value": {
                "value": "@activity('pl_load_raw_to_bronze').output.pipelineReturnValue.RowsInserted",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsUpdated": {
              "value": {
                "value": "@activity('pl_load_raw_to_bronze').output.pipelineReturnValue.RowsUpdated",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsDeleted": {
              "value": {
                "value": "@activity('pl_load_raw_to_bronze').output.pipelineReturnValue.RowsDeleted",
                "type": "Expression"
              },
              "type": "Int64"
            }
          }
        },
        "connectionSettings": {
          "name": "e813c9e1_e664_4615_af45_491ecd160069",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id",
              "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Task Audit Update Execution Metrics",
        "dependsOn": [
          {
            "activity": "pl_load_raw_to_bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "TaskKey": {
        "type": "string"
      },
      "TaskType": {
        "type": "string"
      },
      "etlLoadDateTime": {
        "type": "string"
      },
      "JobAuditKey": {
        "type": "string"
      },
      "TaskAuditKey": {
        "type": "string"
      }
    },
    "libraryVariables": {
      "vl_etlControl_etlControl_ws_id": {
        "type": "String",
        "variableName": "etlControl_ws_id",
        "libraryName": "vl_etlControl"
      },
      "vl_etlControl_etlControl_db_id": {
        "type": "String",
        "variableName": "etlControl_db_id",
        "libraryName": "vl_etlControl"
      },
      "vl_etlControl_etlControl_fabricsql_item_connection_id": {
        "type": "String",
        "variableName": "etlControl_fabricsql_item_connection_id",
        "libraryName": "vl_etlControl"
      }
    }
  }
}