Pipelines/Silver/01_pl_silver_job_master.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@and(\n    not(empty(pipeline().parameters.SilverJobName)),\n    empty(pipeline().parameters.TaskKeyList)\n)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "sqlReaderStoredProcedureName": "[silver].[GetJobTasks]",
                  "storedProcedureParameters": {
                    "JobName": {
                      "value": {
                        "value": "@pipeline().parameters.SilverJobName",
                        "type": "Expression"
                      },
                      "type": "String"
                    }
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "FabricSqlDatabaseTable",
                  "schema": [],
                  "connectionSettings": {
                    "name": "cb95b611_95cc_4437_bccf_35a256d76392",
                    "properties": {
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id",
                        "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id"
                      },
                      "externalReferences": {
                        "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get Job Tasks",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "TaskKeyList",
                "value": {
                  "value": "@activity('Get Job Tasks').output.firstRow.TaskKeys",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get TaskKeyList From JobName",
              "dependsOn": [
                {
                  "activity": "Get Job Tasks",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "TaskKeyList",
                "value": {
                  "value": "@pipeline().parameters.TaskKeyList",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set TaskKeyList From Manual Input",
              "dependsOn": []
            }
          ]
        },
        "name": "If JobName VS ManualTaskKeyList",
        "dependsOn": [
          {
            "activity": "Validate JobAuditKey",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "6dae8f6e-9070-81ca-443e-4556c16ddc3a",
            "type": "PipelineReference"
          },
          "parameters": {
            "SilverJobName": {
              "value": "@pipeline().parameters.SilverJobName",
              "type": "Expression"
            },
            "etlLoadDateTime": {
              "value": "@variables('etlLoadDateTime')",
              "type": "Expression"
            },
            "TaskKeyList": {
              "value": "@variables('TaskKeyList')",
              "type": "Expression"
            },
            "JobAuditKey": {
              "value": "@variables('JobAuditKey')",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Run Tasks",
        "dependsOn": [
          {
            "activity": "If JobName VS ManualTaskKeyList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Fail",
        "typeProperties": {
          "message": "Job failed due to one or more Tasks failing.",
          "errorCode": "000"
        },
        "name": "ThrowFailure",
        "dependsOn": [
          {
            "activity": "Job Audit Fail",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[silver].[JobAuditStart]",
            "storedProcedureParameters": {
              "JobName": {
                "value": {
                  "value": "@pipeline().parameters.SilverJobName",
                  "type": "Expression"
                },
                "type": "String"
              },
              "WorkspaceID": {
                "value": {
                  "value": "@pipeline().DataFactory",
                  "type": "Expression"
                },
                "type": "Guid"
              },
              "PipelineRunID": {
                "value": {
                  "value": "@pipeline().RunId",
                  "type": "Expression"
                },
                "type": "Guid"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "43db87a6_4255_4d34_b573_d9f9ef0a5e49",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id",
                  "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Job Audit Start",
        "dependsOn": [
          {
            "activity": "Set etlLoadDateTime",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@or(\n    equals(activity('Job Audit Start').output.firstRow.JobAuditKey,''),\n    equals(activity('Job Audit Start').output.firstRow.JobAuditKey,0)\n)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Fail",
              "typeProperties": {
                "message": "Failed to validate JobAuditKey.",
                "errorCode": "000"
              },
              "name": "Throw Failure - No JobAuditKey",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "JobAuditKey",
                "value": {
                  "value": "@string(activity('Job Audit Start').output.firstRow.JobAuditKey)",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set JobAuditKey",
              "dependsOn": []
            }
          ]
        },
        "name": "Validate JobAuditKey",
        "dependsOn": [
          {
            "activity": "Job Audit Start",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[silver].[JobAuditEnd]",
          "storedProcedureParameters": {
            "JobAuditKey": {
              "value": {
                "value": "@variables('JobAuditKey')",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "Status": {
              "value": "Succeeded",
              "type": "String"
            }
          }
        },
        "connectionSettings": {
          "name": "c05b2a36_f22f_47be_8ac6_a71a00963819",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id",
              "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Job Audit Success",
        "dependsOn": [
          {
            "activity": "Run Tasks",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[silver].[JobAuditEnd]",
          "storedProcedureParameters": {
            "JobAuditKey": {
              "value": {
                "value": "@variables('JobAuditKey')",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "Status": {
              "value": "Failed",
              "type": "String"
            }
          }
        },
        "connectionSettings": {
          "name": "c05b2a36_f22f_47be_8ac6_a71a00963819",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id",
              "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Job Audit Fail",
        "dependsOn": [
          {
            "activity": "Run Tasks",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "etlLoadDateTime",
          "value": "@formatDateTime(utcNow(), 'yyyyMMdd''T''HHmmss''Z''')"
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set etlLoadDateTime",
        "dependsOn": []
      }
    ],
    "parameters": {
      "SilverJobName": {
        "type": "string"
      },
      "TaskKeyList": {
        "type": "string"
      }
    },
    "libraryVariables": {
      "vl_etlControl_etlControl_ws_id": {
        "type": "String",
        "variableName": "etlControl_ws_id",
        "libraryName": "vl_etlControl"
      },
      "vl_etlControl_etlControl_db_id": {
        "type": "String",
        "variableName": "etlControl_db_id",
        "libraryName": "vl_etlControl"
      },
      "vl_etlControl_etlControl_fabricsql_item_connection_id": {
        "type": "String",
        "variableName": "etlControl_fabricsql_item_connection_id",
        "libraryName": "vl_etlControl"
      }
    },
    "variables": {
      "TaskKeyList": {
        "type": "String"
      },
      "JobAuditKey": {
        "type": "String"
      },
      "etlLoadDateTime": {
        "type": "String"
      }
    }
  }
}