Pipelines/Silver/03_pl_silver_warehouse_task.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Get Warehouse Task Info",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[silver].[GetTaskInfo]",
            "storedProcedureParameters": {
              "TaskKey": {
                "type": "Int64",
                "value": {
                  "value": "@pipeline().parameters.TaskKey",
                  "type": "Expression"
                }
              }
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "aecfdcbb_977c_4d90_b0ab_73a2e8ca5fbc",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id",
                  "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "If IsWatermarkEnabledFlag",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Run And Return StoredProc",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Get Warehouse Task Info').output.firstRow.IsWatermarkEnabledFlag, true)\n",
            "type": "Expression"
          },
          "ifFalseActivities": [],
          "ifTrueActivities": [
            {
              "name": "Update Watermark",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": "[silver].[UpdateWatermarkValue]",
                "storedProcedureParameters": {
                  "IsWatermarkEnabledFlag": {
                    "value": {
                      "value": "@activity('Get Warehouse Task Info').output.firstRow.IsWatermarkEnabledFlag",
                      "type": "Expression"
                    },
                    "type": "Boolean"
                  },
                  "NewHighWatermarkValue": {
                    "value": {
                      "value": "@activity('Run And Return StoredProc').output.firstRow.NewHighWatermarkValue",
                      "type": "Expression"
                    },
                    "type": "Datetime"
                  },
                  "TaskKey": {
                    "value": {
                      "value": "@activity('Get Warehouse Task Info').output.firstRow.TaskKey",
                      "type": "Expression"
                    },
                    "type": "Int64"
                  }
                }
              },
              "connectionSettings": {
                "name": "f18a49c7_7290_404e_8e0c_6963b0df7a07",
                "properties": {
                  "annotations": [],
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id",
                    "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id"
                  },
                  "externalReferences": {
                    "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "Task Audit Update Execution Metrics",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Run And Return StoredProc",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[silver].[TaskAuditExecutionUpdate]",
          "storedProcedureParameters": {
            "TaskAuditKey": {
              "value": {
                "value": "@pipeline().parameters.TaskAuditKey",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsRead": {
              "value": {
                "value": "@activity('Run And Return StoredProc').output.firstRow.TotalRowsAffected",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsCopied": {
              "value": {
                "value": "@activity('Run And Return StoredProc').output.firstRow.TotalRowsAffected",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "RowsSkipped": {
              "value": null,
              "type": "Int64"
            },
            "RowsInserted": {
              "value": null,
              "type": "Int64"
            },
            "RowsUpdated": {
              "value": null,
              "type": "Int64"
            },
            "RowsDeleted": {
              "value": null,
              "type": "Int64"
            }
          }
        },
        "connectionSettings": {
          "name": "e813c9e1_e664_4615_af45_491ecd160069",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().libraryVariables.vl_etlControl_etlControl_ws_id",
              "artifactId": "@pipeline().libraryVariables.vl_etlControl_etlControl_db_id"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricsql_item_connection_id"
            }
          }
        }
      },
      {
        "name": "Run And Return StoredProc",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Get Warehouse Task Info",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": {
              "value": "@concat(\n    activity('Get Warehouse Task Info').output.firstRow.StoredProcedureSchema,\n    '.',\n    activity('Get Warehouse Task Info').output.firstRow.StoredProcedureName    \n)",
              "type": "Expression"
            },
            "storedProcedureParameters": {
              "IsWatermarkEnabledFlag": {
                "type": "Boolean",
                "value": {
                  "value": "@activity('Get Warehouse Task Info').output.firstRow.IsWatermarkEnabledFlag",
                  "type": "Expression"
                }
              },
              "HighWatermarkValue": {
                "type": "String",
                "value": {
                  "value": "@activity('Get Warehouse Task Info').output.firstRow.HighWatermarkValue",
                  "type": "Expression"
                }
              }
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "e1317279_2d0e_4923_9112_f826743f9538",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "@activity('Get Warehouse Task Info').output.firstRow.SinkWarehouseSQLConnString",
                  "artifactId": "@activity('Get Warehouse Task Info').output.firstRow.SinkWarehouseID",
                  "workspaceId": "@activity('Get Warehouse Task Info').output.firstRow.SinkWorkspaceID"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_etlControl_etlControl_fabricwh_item_connection_id"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      }
    ],
    "parameters": {
      "TaskKey": {
        "type": "string"
      },
      "TaskType": {
        "type": "string"
      },
      "etlLoadDateTime": {
        "type": "string"
      },
      "SilverJobName": {
        "type": "string"
      },
      "JobAuditKey": {
        "type": "string"
      },
      "TaskAuditKey": {
        "type": "string"
      }
    },
    "libraryVariables": {
      "vl_etlControl_etlControl_ws_id": {
        "type": "String",
        "variableName": "etlControl_ws_id",
        "libraryName": "vl_etlControl"
      },
      "vl_etlControl_etlControl_db_id": {
        "type": "String",
        "variableName": "etlControl_db_id",
        "libraryName": "vl_etlControl"
      },
      "vl_etlControl_etlControl_fabricsql_item_connection_id": {
        "type": "String",
        "variableName": "etlControl_fabricsql_item_connection_id",
        "libraryName": "vl_etlControl"
      },
      "vl_etlControl_etlControl_fabricwh_item_connection_id": {
        "type": "String",
        "variableName": "etlControl_fabricwh_item_connection_id",
        "libraryName": "vl_etlControl"
      }
    }
  }
}